/* General Page */
body {
    color: #34db7a;
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #eef5ff;
  line-height: 1.6;
  font-size: large;
  
  background-image: url('backgrond.jpg');
  background-size: cover;      /* Makes image cover the entire page */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat;/* Prevents tiling */
}


.section {
    .section {
  padding: 50px 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8); /* white with 80% opacity */
  border-radius: 10px;
  margin: 20px;
}
  padding: 50px 20px;
  text-align: center;
}

/* Header */
header {
  background-color: #34db7a;
  color: white;
  padding: 20px;
}

header nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

header nav a:hover {
    color: blue;
  text-decoration: underline;
  
}

/* Card Styling */
.card {
  background: white;
  padding: 20px 25px;
  border-radius: 10px;
  width: 300px;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 14px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #1f6fa5;
}

.hidden {
  display: none;
}

ul {
  margin-top: 15px;
  padding-left: 18px;
  text-align: left;
}

/* Contact Section */
#contact {
  background-color: #dceefc;
  padding: 40px 20px;
}

/* Footer */
footer {
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  text-align: center;
}