/* General Page */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #eef5ff;
  line-height: 1.6;
   /* Background Image */
  background-image: url('backgrond.jpg');
  background-size: cover;      /* Makes image cover the entire page */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat;/* Prevents tiling */
}

.section {
  padding: 50px 20px;
  text-align: center;
}

/* Header */
header {
  background-color: #3498db;
  color: rgb(8, 236, 65);
  padding: 20px;
}

header nav a {
  color: rgb(81, 230, 12);
  text-decoration: none;
  margin: 0 10px;
}

header nav a:hover {
  text-decoration: underline;
}

/* Card Styling */
.card {
  background: white;
  padding: 20px 25px;
  border-radius: 10px;
  width: 300px;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 14px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #680707;
}

.hidden {
  display: none;
}

ul {
  margin-top: 15px;
  padding-left: 18px;
  text-align: left;
}

/* Contact Section */
#contact {
  background-color: #dceefc;
  padding: 40px 20px;
}

/* Footer */
footer {
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  text-align: center;
}
/* Hero Section */
.hero {
  height: 100vh; /* full viewport height */
  background-image: url('background.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero .overlay {
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black overlay */
  color: rgb(24, 184, 45);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertical center */
  align-items: center;     /* horizontal center */
  text-align: center;
  padding: 0 20px;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 20px;
  margin-bottom: 30px;
}

.hero-btn {
  text-decoration: none;
  background-color: #3498db;
  color: white;
  padding: 12px 20px;
  border-radius: 6px;
  font-size: 18px;
}

.hero-btn:hover {
  background-color: #1f6fa5;
}

